/* Page Layout */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media screen and (max-width: 475px) {
  body {
    font-size: 14px;
  }

  h5 {
    font-size: 16px;
  }

  h4 {
    font-size: 18px;
  }

  h3 {
    font-size: 20px;
  }

  h2 {
    font-size: 22px;
  }

  h1 {
    font-size: 24px;
  }
}

/* Changes to Formation */

/* Add Light Mode Focus state to inputs & select */
.theme-light .input:focus,
.theme-light .input:focus-within,
.theme-light .select:focus,
.theme-light .select:focus-within,
.theme-light .button:focus {
  box-shadow: none;
  border-color: #215db0;
  box-shadow: 0 0 0 4px #8abbff;
  outline: none;
}
.theme-light .input:focus,
.theme-light .input:focus-within,
.theme-light .select:focus,
.theme-light .select:focus-within {
  background-color: #ffffff;
}

/* Add Dark Mode Focus state to inputs & select */
.theme-dark .input:focus,
.theme-dark .input:focus-within,
.theme-dark .select:focus,
.theme-dark .select:focus-within,
.theme-dark .button:focus {
  box-shadow: none;
  border-color: #8abbff;
  box-shadow: 0 0 0 4px #184a90;
  outline: none;
}
.theme-dark .input:focus,
.theme-dark .input:focus-within,
.theme-dark .select:focus,
.theme-dark .select:focus-within {
  background-color: #111418;
}

/* Restore box-sizing: content-box for some Formation Components */
.radio-overlay,
.radio-overlay::after,
.checkbox-overlay,
.checkbox-overlay::after {
  box-sizing: content-box;
}

/* Utility Classes */

.muted {
  font-weight: 200;
}

.capitalize {
  text-transform: capitalize;
}

.no-bullet {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Adapted From Formation Color Scheme
  See https://formation.fyi/docs/colors */
.color--intent-default {
  /* color: #111418 !important; */
  background-color: #e5e8eb !important;
  border-color: #c1c4c8 !important;
}
.color--intent-success {
  background-color: #238551 !important;
  border-color: #1c6e42 !important;
}
.color--intent-warning {
  color: white !important;
  background-color: #c87619 !important;
  border-color: #935610 !important;
}
.color--intent-danger {
  color: white !important;
  background-color: #cd4246 !important;
  border-color: #ac2f33 !important;
}
@media screen and (prefers-color-scheme: dark) {
  .color--intent-default {
    border-color: #383e47 !important;
    background-color: #1c2127 !important;
  }
  .color--intent-success {
    background-color: #165a36 !important;
    border-color: #32a467 !important;
  }
  .color--intent-warning {
    background-color: #77450d !important;
    border-color: #ec9a3c !important;
  }
  .color--intent-danger {
    background-color: #8e292c !important;
    border-color: #e76a6e !important;
  }
}
