/* Page Layout */

body {
  margin: 0;
}

/* Changes to Formation */

.theme-light .input:focus,
.theme-light .input:focus-within,
.theme-light .select:focus,
.theme-light .select:focus-within,
.theme-light .button:focus {
  box-shadow: none;
  border-color: #215db0;
  box-shadow: 0 0 0 2px #8abbff;
  outline: none;
}
.theme-light .input:focus,
.theme-light .input:focus-within,
.theme-light .select:focus,
.theme-light .select:focus-within {
  background-color: #ffffff;
}

.theme-dark .input:focus,
.theme-dark .input:focus-within,
.theme-dark .select:focus,
.theme-dark .select:focus-within,
.theme-dark .button:focus {
  box-shadow: none;
  border-color: #8abbff;
  box-shadow: 0 0 0 2px #184a90;
  outline: none;
}
.theme-dark .input:focus,
.theme-dark .input:focus-within,
.theme-dark .select:focus,
.theme-dark .select:focus-within {
  background-color: #111418;
}

/* Utility Classes */

:root {
  --color-text-muted: #738091; /* Same as Formation ::placeholder */
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-text-muted: #abb3bf; /* Same as Formation ::placeholder */
  }
}

.muted {
  color: var(--color-text-muted);
}
